<!DOCTYPE html>

<html>
  <head>
    <title>Minder</title>

    <% include ./header %>

    <link rel="stylesheet" type="text/css" href="stylesheets/profile.css">

    <script src="http://maps.google.com/maps/api/js?libraries=places&key=AIzaSyAp1-GKiZX19UcOZjRaTLlurgboIyS6UT8"
           type="text/javascript"></script>
  </head>

  <body>
    <% include ./navbar %>
    <img id="profile-picture" src="<%= user.image %>" />
    <div class="center-content">
      <h1><%= user.name %></h1>
    </div>
    <div id="button-container" class="center-content">
      <% if (sessionUser.connections.indexOf(user._id) > -1) { %>
        <div id="remove" data-id="<%= user._id %>" class="button-submit">Remove Connection</div>
      <% } else if (sessionUser.pendingRequests.indexOf(user._id) > -1) { %>
        <div id="accept" data-id="<%= user._id %>" class="button-submit">Accept</div>
        <div id="deny" data-id="<%= user._id %>" class="button-submit">Deny</div>
      <% } else if (sessionUser.pendingInvites.indexOf(user._id) > -1) { %>
        <div id="cancel" data-id="<%= user._id %>" class="button-submit">Cancel Request</div>
      <% } else { %>
        <div id="connect" data-id="<%= user._id %>" class="button-submit">Connect</div>
      <% } %>
    </div>
    <div
    <div class="center-content">
      <div class="split-page">
        <div class="info">
          <h2>Description</h2>
          <div>
            <p>
              <%= user.description %>
            </p>
          </div>
        </div>
        <div class="info">
          <h2>Education</h2>
          <div>
            <h2><%= user.school %></h2>
            <p><strong>Major: </strong><%= user.major %></p>
            <p><strong>Minor: </strong><%= user.minor %></p>
            <p><strong>GPA: </strong><%= user.gpa %></p>
          </div>
        </div>
      </div>
      <div class="center-content">
        <div class="split-page">
          <div class="info">
            <h2>Tags</h2>
            <% for (let i = 0; i < user.tags.length; ++i) { %>
              <span class="tag"><%= user.tags[i] %></span>
            <% } %>
          </div>
          <div class="info">
            <h2>Location</h2>
            <p>
              <strong>Current: </strong>
              <span id="current"><%= user.location.name %></span>
              <div id="location-map"></div>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="center-content">
      <div class="match-info info">
          <h1>Connections (<%= connections.length %>)</h1>
          <div class="container">
            <% for (let i = 0; i < connections.length; ++i) { %>
              <div class="profile" data-id="<%= connections[i]._id %>">
                <img class="profile-image" src="<%= connections[i].image %>">
                <p><%= connections[i].name %></p>
              </div>
            <% } %>
        </div>
      </div>
  </body>

  <footer>
    <% include ./footer %>
    <script src="javascripts/user-profile.js"></script>
  </footer>

</html>
